:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home {
    &__logo {
        border-radius: 100%;
        zoom: 0.9;
        aspect-ratio: 1 / 1;
        width: 250px;
        object-fit: cover;
        clip-path: url(#clover-clip);
    }

    &__title-area {
        max-width: 800px;
        margin: auto;

        p {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    &__content-area {
        font-weight: 300;
        font-size: 1.4rem;
        max-width: 800px;
        margin: auto;
    }
}
