<div class="home">
    <div class="home__title-area text-center">
        <div
            [style.animation-duration]="'500ms'"
            class="clover__container animate__animated animate__zoomIn"
        >
            <img
                class="clover__img"
                src="/images/clover.webp"
                alt="A selfie from our proposal day"
            />
            <div class="clover">
                <div class="clover__box clover__box-one"></div>
                <div class="clover__box clover__box-two"></div>
                <div class="clover__box clover__box-three"></div>
            </div>
        </div>
        <h1
            [style.animation-duration]="'800ms'"
            class="title p-0 animate__animated animate__slower animate__fadeIn"
        >
            The Alvarez Tolbert Wedding
        </h1>
        <p
            [style.animation-duration]="'1200ms'"
            class="text-center fst-italic mb-4 animate__animated animate__slower animate__fadeIn"
        >
            We’re overjoyed to be celebrating our love through marriage and even
            more grateful to share this special moment with those we cherish
            most. As we continue planning our big day, we’ll keep you updated
            with details about the venue, date, time, and everything in between.
        </p>
    </div>
    <div class="home__content-area">
        <h2
            [style.animation-duration]="'1600ms'"
            class="m-2 animate__animated animate__slower animate__fadeIn"
        >
            Wedding Information
        </h2>
        <p
            [style.animation-duration]="'2000ms'"
            class="m-2 animate__animated animate__slower animate__fadeIn"
        >
            While we haven’t finalized a venue just yet, we’re excitedly
            exploring our options. Our tentative date is set for September 2026.
            As we’re funding the wedding ourselves, it may take a little time to
            bring everything together—but we’re embracing the journey! We’ll
            continue to share updates here as we lock in the date, location, and
            all the other special details.
        </p>
        <br />
        <h3
            [style.animation-duration]="'2000ms'"
            class="text-center animate__animated animate__slower animate__fadeIn"
        >
            ~ Stay Tuned For More Updates In The Future! ~
        </h3>
    </div>
</div>
