:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home {
    &__title {
        font-family: 'Special Gothic Expanded One', sans-serif;
        font-size: 3rem;
        line-height: 1.3;
    }
}
