:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home {
    &__title-area {
        max-width: 800px;
        margin: auto;

        p {
            font-size: 1.1rem;
            font-weight: 300;
            font-style: italic;
        }
    }

    &__content-area {
        font-weight: 300;
        font-size: 1.2rem;
        max-width: 800px;
        margin: auto;
    }
}
