:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home {
    &__date {
        font-weight: bolder;
        font-style: italic;
        font-size: 22px;
        margin: auto;
        width: 100%;
        display: block;
        text-align: center;
        @media (min-width: 992px) {
            font-size: 28px;
        }
    }

    &__registry-link {
        font-size: 1.6rem;
        mat-icon {
            font-size: 1.6rem;
            height: 1.6rem;
            width: 1.6rem;
        }
    }

    &__line {
        border-style: dotted;
        border-width: 1px;
        width: 100%;
    }

    &__notice {
        border-radius: 4rem;
        background: #f3ffcd;
        color: #2c4630;
        border: 1px solid #2c4630;
        font-size: 0.8rem;
        display: flex;
        font-weight: bold;
        align-items: center;
        width: 3.5rem;
        text-align: center;
        letter-spacing: 0.5px;
        justify-content: center;
        text-transform: uppercase;
        height: 1.6rem;

        @media (prefers-color-scheme: dark) {
            background: #ac8c41;
            color: #fdf7e7;
            border: 1px solid #fdf7e7;
        }
    }

    &__logo {
        border-radius: 100%;
        aspect-ratio: 1 / 1;
        width: 250px;
        object-fit: cover;
        clip-path: url(#clover-clip);
    }

    &__title-area {
        max-width: 800px;
        margin: auto;

        p {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    &__content-area {
        font-weight: 300;
        font-size: 1.4rem;
        max-width: 800px;
        margin: auto;
    }
}
