<div class="home">
    <div
        [style.animation-duration]="'1000ms'"
        class="home__title-area text-center animate__animated animate__fadeIn"
    >
        <h1 class="title">Shala Tolbert</h1>
        <h1 class="title">and</h1>
        <h1 class="title">Alexander Alvarez</h1>
        <p>
            We’re overjoyed to be celebrating our love through marriage and even
            more grateful to share this special moment with those we cherish
            most. As we continue planning our big day, we’ll keep you updated
            with details about the venue, date, time, and everything in between.
        </p>
    </div>
    <div
        [style.animation-duration]="'1400ms'"
        class="home__content-area animate__animated animate__fadeIn"
    >
        <h2>Wedding Information</h2>
        <p>
            While we haven’t finalized a venue just yet, we’re excitedly
            exploring our options. Our tentative date is set for September 2026.
            As we’re funding the wedding ourselves, it may take a little time to
            bring everything together—but we’re embracing the journey! We’ll
            continue to share updates here as we lock in the date, location, and
            all the other special details.
        </p>
        <br />
        <h3 class="text-center">
            ~ Stay Tuned For More Updates In The Future! ~
        </h3>
    </div>
</div>
