.dialog {
    &__title {
        font-size: 2rem;
        font-weight: bolder;
    }

    &__img {
        display: flex;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    &__body {
        font-size: 1.3rem;
    }
}
