@if (data.item) {
    <div @slideScale class="dialog">
        <h1 mat-dialog-title class="fw-bolder">{{ data.item.date }}</h1>
        <mat-dialog-content>
            <img
                class="dialog__img"
                [src]="data.item.source"
                [alt]="data.item.alt"
            />
            <p>{{ data.item.description }}</p>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
        </mat-dialog-actions>
    </div>
}
