/** Icons **/
.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;

    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.mat-mdc-button,
.mdc-button {
    appearance: none !important;
    user-select: none !important;
    height: 48px !important;
    padding-inline: 16px !important;
    border-radius: 24px !important;
    transition: padding 0.25s cubic-bezier(0.42, 1.67, 0.21, 0.9),
    border-radius 0.25s cubic-bezier(0.42, 1.67, 0.21, 0.9) !important;

    &:active {
        border-radius: 4px !important;
        padding-inline: 24px !important;

        &:first-child,
        &:last-child {
            padding-inline: 20px !important;
        }
    }

    &:has(+ mat-mdc-button:active) {
        padding-inline: 12px !important;
    }

    mat-mdc-button:active + mat-mdc-button {
        padding-inline: 12px !important;
    }
}

/** Components **/
.mat-icon {
    min-width: fit-content !important;
}

.mat-mdc-card-title {
    font-weight: bold !important;
}

.mat-drawer.mat-drawer-opened.mat-drawer-opened {
    backdrop-filter: blur(100px);
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, .5) !important;
    backdrop-filter: contrast(0.7);
}

.mat-drawer-container {
    @media (prefers-color-scheme: dark) {
        background-color: #1c1f1c !important;
    }
}

.mat-drawer {
    max-width: 80%;
    background-color: var(
            --mat-sidenav-container-background-color,
            var(--mat-sys-surface)
    ) !important;
    border-top-right-radius: 2.5rem !important;
    border-bottom-right-radius: 2.5rem !important;

    @media (min-width: 992px) {
        background-color: transparent !important;
        width: 30%;
        max-width: 330px;
    }
}

.mat-drawer-content {
    background-color: var(--mat-fab-small-ripple-color);
    @media (min-width: 992px) {
        height: 98% !important;
        border-radius: 4rem !important;
        margin-top: 0.6rem !important;
    }
}

.mat-mdc-card-actions {
    flex-wrap: wrap !important;
}

.mat-mdc-card {
    border-radius: 2.5rem !important;
}

.mat-drawer-inner-container {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.mat-drawer-transition .mat-drawer-backdrop {
    transition: all 0.18s ease-in-out !important;
}

.mat-mdc-list-base {
    gap: 8px;
    display: flex !important;
    flex-direction: column;
}

.mdc-list-item {
    &.nav-item {
        padding: 1.8rem !important;
        align-items: center !important;
        gap: 0.8rem !important;
        width: 98% !important;
        margin: auto !important;
    }

    &__content {
        white-space: pre-line !important;
    }
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.72) !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 1.5rem !important;
    border-top-left-radius: 1.5rem !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
}
