/** Icons **/
.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

/** Components **/
.mat-icon {
    min-width: fit-content !important;
}

.mat-mdc-card-title {
    font-weight: bold !important;
}

.mat-expansion-panel,
.mat-expansion-panel-header {
    background-color: var(
        --mat-expansion-header-hover-state-layer-color
    ) !important;
}
.mat-drawer-container {
    @media (prefers-color-scheme: dark) {
        background-color: #1c1f1c !important;
    }
}

.mat-drawer {
    max-width: 76% !important;
    border-top-right-radius: 2.5rem !important;
    border-bottom-right-radius: 2.5rem !important;
}

.mdc-fab {
    transition: border-radius .35s cubic-bezier(.2, 0, 0, 1), background-color .3s cubic-bezier(.2, 0, 0, 1) !important;
    &:active {
        border-radius: 1.8rem;
    }
}

.mat-mdc-card-actions {
    flex-wrap: wrap !important;
}

.mat-mdc-card {
    border-radius: 2rem !important;
}

.mat-drawer-inner-container {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.mat-drawer-transition .mat-drawer-backdrop {
    transition-duration: 170ms !important;
    filter: brightness(-40%) !important;
    background-color: #2b322d8f !important;
}

.mat-mdc-list-base {
    gap: 8px;
    display: flex !important;
    flex-direction: column;
}

.mdc-list-item {
    padding: 1.8rem !important;
    align-items: center !important;
    gap: 0.8rem !important;
    width: 98% !important;
    margin: auto !important;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.72) !important;
}
