@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
    primary: (
        0: #000000,
        10: #002110,
        20: #0e3722,
        25: #1b432d,
        30: #274f37,
        35: #335b42,
        40: #3f674e,
        50: #578066,
        60: #709a7e,
        70: #8ab598,
        80: #a5d1b2,
        90: #c1edcd,
        95: #cffbdb,
        98: #e9ffed,
        99: #f5fff4,
        100: #ffffff,
    ),
    secondary: (
        0: #000000,
        10: #281900,
        20: #432c00,
        25: #513600,
        30: #604100,
        35: #6f4b00,
        40: #7e570a,
        50: #9a6f24,
        60: #b6893b,
        70: #d4a353,
        80: #f2be6b,
        90: #ffdeae,
        95: #ffeeda,
        98: #fff8f3,
        99: #fffbff,
        100: #ffffff,
    ),
    tertiary: (
        0: #000000,
        10: #201b0e,
        20: #363022,
        25: #413b2c,
        30: #4d4637,
        35: #595242,
        40: #655e4d,
        50: #7f7665,
        60: #99907d,
        70: #b4aa97,
        80: #d0c5b1,
        90: #ede1cc,
        95: #fbf0da,
        98: #fff8f1,
        99: #fffbff,
        100: #ffffff,
    ),
    neutral: (
        0: #000000,
        10: #1a1c1a,
        20: #2f312f,
        25: #3a3c39,
        30: #454745,
        35: #515350,
        40: #5d5f5c,
        50: #767874,
        60: #90918e,
        70: #aaaca8,
        80: #c6c7c3,
        90: #e2e3df,
        95: #f0f1ed,
        98: #f9faf6,
        99: #fcfcf8,
        100: #ffffff,
        4: #0c0f0d,
        6: #121412,
        12: #1e201e,
        17: #282b28,
        22: #333533,
        24: #383a37,
        87: #dadad6,
        92: #e8e8e5,
        94: #eeeeea,
        96: #f3f4f0,
    ),
    neutral-variant: (
        0: #000000,
        10: #161d18,
        20: #2b322d,
        25: #363d37,
        30: #414943,
        35: #4d544e,
        40: #59605a,
        50: #727972,
        60: #8b938b,
        70: #a6ada6,
        80: #c1c8c0,
        90: #dde4dc,
        95: #ebf3ea,
        98: #f4fbf3,
        99: #f7fef6,
        100: #ffffff,
    ),
    error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
    ),
);

$_rest: (
    secondary: map.get($_palettes, secondary),
    neutral: map.get($_palettes, neutral),
    neutral-variant: map.get($_palettes, neutral-variant),
    error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

// Define a custom typography config
$typography-config: (
    plain-family: '"Helvetica Neue", sans-serif',
);

@function create-theme($type) {
    @return mat.define-theme(
        (
            color: (
                primary: $primary-palette,
                tertiary: $tertiary-palette,
                theme-type: $type,
            ),
            typography: $typography-config,
            density: (
                scale: 0,
            ),
        )
    );
}
