.q-a {
    &__title-area {
        max-width: 800px;
        margin: auto;

        p {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    &__content-area {
        font-size: 1.2rem;
        max-width: 800px;
        margin: auto;
    }
}
