<div class="q-a">
    <div
        [style.animation-duration]="'1000ms'"
        class="q-a__title-area text-center animate__animated animate__fadeIn"
    >
        <h1 class="title text-center">Questions & Answers</h1>
        <p>
            We want you to enjoy our special day with as little stress as
            possible, so we’ve put together answers to some questions we thought
            you might have!
        </p>
    </div>
    <div
        [style.animation-duration]="'1400ms'"
        class="q-a__content-area animate__animated animate__fadeIn"
    >
        <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="fw-bold">
                        What's The Guest List?</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <p>
                    As we planned our wedding, we knew we wanted something
                    small, intimate, and truly meaningful to us. With a limited
                    budget and venue capacity, we had to make some really
                    difficult decisions about the guest list. If you didn’t
                    receive an invitation, please know it’s absolutely not a
                    reflection of how much we love or value you. This choice was
                    about creating a space that felt right for us, not about
                    excluding anyone. We are so grateful for your love, your
                    support, and your presence in our lives—whether near or far.
                    Your good wishes mean the world to us, and we can’t wait to
                    celebrate together in other beautiful ways, soon.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="fw-bold">
                        What Is The Dress Code?</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <p>
                    What matters most to us is that you’re there to celebrate
                    with us. If you can, we kindly ask that you aim for business
                    casual—think slacks and a button-up, or a nice dress. That
                    said, we completely understand that not everyone has these
                    items on hand, and we absolutely don’t want anyone to feel
                    pressured to buy something new. Your presence is truly the
                    most important thing.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="fw-bold">
                        What Should I Bring?</mat-panel-title
                    >
                </mat-expansion-panel-header>
                <p>
                    Just bring yourself and your good vibes! We’ll have food,
                    drinks, and everything else covered—just come ready to
                    celebrate with us!
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="fw-bold">
                        Can I Take Photos & Videos?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    We’d love for you to take photos and videos during the
                    ceremony and reception! We just kindly ask that you do so in
                    a way that doesn’t distract from the moment—please keep
                    phones on silent and avoid using flash. We’ll also be
                    sharing an open, free to join, online photo album on Google
                    Photos so everyone can upload and enjoy each other’s
                    memories. We can’t wait to see the day through your eyes! To
                    join the album see:
                    <a
                        href="https://photos.app.goo.gl/3dznzUyjbtmEXX2h6"
                        target="_blank"
                    >
                        Photo Album
                    </a>
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="fw-bold">
                        Can I Bring A Date or A Plus One?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    We are so excited to celebrate with you! However, due to budget and venue limitations, we are unable
                    to accommodate additional guests. We are only able to accommodate those guests formally invited on
                    your wedding invitation. Thank you for your understanding!
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
