.registry {
    &__title-area {
        max-width: 800px;
        margin: auto;
        p {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-evenly;
    }

    &__item {
        flex: 0 0 30%;
        box-sizing: border-box;
        min-width: 100%;

        @media (min-width: 768px) {
            min-width: 400px;
            width: 30%;
        }

        &-image {
            height: 200px;
            object-fit: cover;
        }
    }
}
