<div class="registry">
    <div
        [style.animation-duration]="'800ms'"
        class="registry__title-area text-center animate__animated animate__fadeIn"
    >
        <h1 class="title">Our Wedding Registries</h1>
        <p class="fst-italic">
            Thank you for celebrating with us! We've created registries at the
            following stores to make gift-giving easier for you. Please know
            that your presence at our wedding means the world to us — it’s truly
            the greatest gift we could ask for. We’re so grateful for your love
            and support that there’s absolutely no expectation beyond sharing
            this special moment with us. <br />
        </p>
    </div>
    <div
        [style.animation-duration]="'1200ms'"
        class="registry__container animate__animated animate__fadeIn"
    >
        <mat-card
            [style.animation-duration]="'500ms'"
            class="registry__item animate__animated animate__zoomIn"
            appearance="outlined"
        >
            <mat-card-header>
                <mat-card-title class="p-1">Walmart</mat-card-title>
                <mat-card-subtitle class="p-1">Home essentials & more</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="ms-1">
                <p>
                    Find kitchen appliances, home decor, and everyday essentials
                    on our Walmart registry.
                </p>
                <mat-card-actions class="p-0 gap-2">
                    <button (click)="shareLink('Walmart')" mat-button>
                        <mat-icon class="material-symbols-outlined"
                            >share</mat-icon
                        >
                        Share
                    </button>
                    <button (click)="openLink('Walmart')" mat-button>
                        <mat-icon class="material-symbols-outlined"
                            >open_in_new
                        </mat-icon>
                        Browse
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        <mat-card
            [style.animation-duration]="'500ms'"
            class="registry__item animate__animated animate__zoomIn"
            appearance="outlined"
        >
            <mat-card-header>
                <mat-card-title class="p-1">Target</mat-card-title>
                <mat-card-subtitle class="p-1">Modern home & lifestyle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="ms-1">
                <p>
                    Browse our Target registry for stylish home goods, kitchen
                    items, and decor we love.
                </p>
                <mat-card-actions class="p-0 gap-2">
                    <button (click)="shareLink('Target')" mat-button>
                        <mat-icon class="material-symbols-outlined"
                            >share</mat-icon
                        >
                        Share
                    </button>
                    <button (click)="openLink('Target')" mat-button>
                        <mat-icon class="material-symbols-outlined"
                            >open_in_new
                        </mat-icon>
                        Browse
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        <mat-card
            [style.animation-duration]="'500ms'"
            class="registry__item animate__animated animate__zoomIn"
            appearance="outlined"
        >
            <mat-card-header>
                <mat-card-title class="p-1">Amazon</mat-card-title>
                <mat-card-subtitle class="p-1">Home essentials & more</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="ms-1">
                <p>
                    Check out our Amazon registry for a wide selection of items
                    for our home.
                </p>
                <mat-card-actions class="p-0 gap-2">
                    <button (click)="shareLink('Amazon')" mat-button>
                        <mat-icon class="material-symbols-outlined"
                            >share</mat-icon
                        >
                        Share
                    </button>
                    <button (click)="openLink('Amazon')" mat-button>
                        <mat-icon class="material-symbols-outlined"
                            >open_in_new
                        </mat-icon>
                        Browse
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>
