.registry {
    &__title-area {
        max-width: 800px;
        margin: auto;
        p {
            font-size: 1.1rem;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-evenly;
    }

    &__notice {
        font-size: 1.2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 600px;
        margin: auto;
        background-color: var(
            --mat-datepicker-calendar-date-in-overlap-range-state-background-color
        );
    }

    &__item {
        flex: 0 0 30%;
        box-sizing: border-box;
        min-width: 100%;

        @media (min-width: 768px) {
            min-width: 30%;
        }

        &-image {
            height: 200px;
            object-fit: cover;
        }
    }
}
