<div class="registry">
    <div
        [style.animation-duration]="'800ms'"
        class="registry__title-area text-center animate__animated animate__fadeIn"
    >
        <h1 class="title">Our Wedding Registries</h1>
        <p>
            Thank you for celebrating with us! We've created registries at the
            following stores to make gift-giving easier for you. Please know
            that your presence at our wedding means the world to us — it’s truly
            the greatest gift we could ask for. We’re so grateful for your love
            and support that there’s absolutely no expectation beyond sharing
            this special moment with us. <br />
        </p>
    </div>
    <div
        [style.animation-duration]="'1200ms'"
        class="registry__container animate__animated animate__fadeIn"
    >
        <mat-card
            [style.animation-duration]="'500ms'"
            class="registry__item animate__animated animate__zoomIn"
            appearance="outlined"
        >
            <mat-card-header class="mb-3">
                <mat-card-title>Walmart</mat-card-title>
                <mat-card-subtitle>Home essentials & more</mat-card-subtitle>
            </mat-card-header>
            <img
                class="registry__item-image"
                mat-card-image
                src="/images/walmart.webp"
                alt="Walmart Registry Card Image"
            />
            <mat-card-content>
                <p>
                    Find kitchen appliances, home decor, and everyday essentials
                    on our Walmart registry.
                </p>
                <mat-card-actions class="p-0 gap-2">
                    <button (click)="shareLink('Walmart')" mat-flat-button>
                        <mat-icon class="material-symbols-outlined"
                            >share</mat-icon
                        >
                        Share Registry
                    </button>
                    <button (click)="openLink('Walmart')" mat-flat-button>
                        <mat-icon class="material-symbols-outlined"
                            >open_in_new
                        </mat-icon>
                        Browse Registry
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        <mat-card
            [style.animation-duration]="'500ms'"
            class="registry__item animate__animated animate__zoomIn"
            appearance="outlined"
        >
            <mat-card-header class="mb-3">
                <mat-card-title>Target</mat-card-title>
                <mat-card-subtitle>Modern home & lifestyle</mat-card-subtitle>
            </mat-card-header>
            <img
                class="registry__item-image"
                mat-card-image
                src="/images/target.webp"
                alt="Target Registry Card Image"
            />
            <mat-card-content>
                <p>
                    Browse our Target registry for stylish home goods, kitchen
                    items, and decor we love.
                </p>
                <mat-card-actions class="p-0 gap-2">
                    <button (click)="shareLink('Target')" mat-flat-button>
                        <mat-icon class="material-symbols-outlined"
                            >share</mat-icon
                        >
                        Share Registry
                    </button>
                    <button (click)="openLink('Target')" mat-flat-button>
                        <mat-icon class="material-symbols-outlined"
                            >open_in_new
                        </mat-icon>
                        Browse Registry
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        <mat-card
            [style.animation-duration]="'500ms'"
            class="registry__item animate__animated animate__zoomIn"
            appearance="outlined"
        >
            <mat-card-header class="mb-3">
                <mat-card-title>Amazon</mat-card-title>
                <mat-card-subtitle>Home essentials & more</mat-card-subtitle>
            </mat-card-header>
            <img
                class="registry__item-image"
                mat-card-image
                src="/images/amazon.webp"
                alt="Amazon Registry Card Image"
            />
            <mat-card-content>
                <p>
                    Check out our Amazon registry for a wide selection of items
                    for our home.
                </p>
                <mat-card-actions class="p-0 gap-2">
                    <button (click)="shareLink('Amazon')" mat-flat-button>
                        <mat-icon class="material-symbols-outlined"
                            >share</mat-icon
                        >
                        Share Registry
                    </button>
                    <button (click)="openLink('Amazon')" mat-flat-button>
                        <mat-icon class="material-symbols-outlined"
                            >open_in_new
                        </mat-icon>
                        Browse Registry
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>
