<div class="gallery">
    @let hint = 'Tap on an image to learn more about that memory.';
    <div
        [style.animation-duration]="'1000ms'"
        class="text-center animate__animated animate__fadeIn"
    >
        <h1 class="title">Memory Gallery</h1>
        <p>
            Here are some of our memories over the years.
            {{ hint }}
        </p>
    </div>
    @let galleryItems = imageSources$ | async;
    @if (galleryItems) {
        <div class="gallery__grid-wrapper mt-5">
            @for (item of galleryItems; track $index) {
                <div
                    matRipple
                    (click)="openItemModal(item)"
                    class="gallery__grid-wrapper"
                >
                    <img
                        [priority]="$index === 2"
                        [style.animation-duration]="450"
                        class="gallery__image animate__animated animate__zoomIn"
                        [ngSrc]="item.source"
                        [width]="item.width"
                        [height]="item.height"
                        alt="Photo Memory"
                    />
                </div>
            }
        </div>
    }
</div>
