<!-- Side nav container -->
<mat-sidenav-container class="app__nav-container">
    <!-- Mat side nav -->
    <mat-sidenav #sidenav [mode]="drawerMode" [autoFocus]="false">
        <mat-nav-list>
            <div class="app__nav-brand p-4 ms-2">
                <img
                    src="/icons/icon-72x72.webp"
                    height="26"
                    width="26"
                    alt="Website logo"
                />
                <span class="fw-bold"> Alvarez Tolbert Wedding </span>
            </div>
            <mat-list-item
                role="link"
                class="app__nav-item"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/']"
                [routerLinkActive]="['app__nav-item--active']"
                #routerLink1="routerLinkActive"
            >
                <mat-icon class="material-symbols-outlined" matListItemIcon>
                    home
                </mat-icon>
                <a matListItemTitle>Home</a>
            </mat-list-item>
            <mat-list-item
                role="link"
                class="app__nav-item"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/our-story']"
                [routerLinkActive]="['app__nav-item--active']"
                #routerLink2="routerLinkActive"
            >
                <mat-icon class="material-symbols-outlined" matListItemIcon>
                    auto_stories
                </mat-icon>
                <a matListItemTitle>Our Story</a>
            </mat-list-item>
            <mat-list-item
                role="link"
                class="app__nav-item"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/registry']"
                [routerLinkActive]="['app__nav-item--active']"
                #routerLink3="routerLinkActive"
            >
                <mat-icon class="material-symbols-outlined" matListItemIcon>
                    featured_seasonal_and_gifts
                </mat-icon>
                <a matListItemTitle>Wedding Registry</a>
            </mat-list-item>
            <mat-list-item
                role="link"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/questions-and-answers']"
                [routerLinkActive]="['app__nav-item--active']"
                #routerLink4="routerLinkActive"
            >
                <mat-icon class="material-symbols-outlined" matListItemIcon>
                    quiz
                </mat-icon>
                <a matListItemTitle>Q&A</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="app__toolbar d-md-flex d-none">
            <button
                mat-icon-button
                class="app__nav-button"
                aria-label="Navigation drawer button"
                (click)="sidenav.toggle()"
            >
                <mat-icon #toolbarIcon class="material-symbols-outlined"
                    >menu_open</mat-icon
                >
            </button>
            <span class="m-auto"> {{ toolbarTitle }} </span>
        </mat-toolbar>
        <!-- Contents of application -->
        <div class="app p-4">
            <router-outlet
                (activate)="updateToolbarTitle($event)"
            ></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
