:host {
    height: 100%;
    display: flex;
}

.app {
    padding: 1.2rem;

    &__nav-button {
        margin-right: -2rem;
    }

    &__nav-brand {
        gap: 0.8rem !important;
        display: flex;
        align-items: center;

        img {
            border-radius: 0.4rem;
        }

        span {
            font-size: 1.2rem;
            font-weight: normal;
            font-style: italic;
        }

        &__img {
            border-radius: 100%;
        }
    }

    &__nav-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #424940 !important;
        @media (prefers-color-scheme: dark) {
            color: #edf6e9 !important;
        }
    }

    &__nav-item {
        &--active {
            &:before {
                background-color: var(
                    --mat-list-list-item-hover-state-layer-color,
                    var(--mat-sys-on-surface)
                );
                opacity: 0.06;
            }
        }
    }

    &__toolbar {
        width: 100%;
        z-index: 10000000;
        height: 65px;
        position: sticky;
        box-shadow: none;
        top: 0;
        background-color: var(--mat-card-outlined-outline-color);
        filter: brightness(107%);
        @media (prefers-color-scheme: dark) {
            filter: brightness(150%);
        }
    }
}
