.story {
    /** Main Story Area **/
    &__title-area {
        max-width: 650px;
        margin: auto;

        p {
            font-size: 1.2rem;
            font-weight: 300;
            font-style: italic;
        }
    }

    &__content-area {
        font-size: 1.4rem;
        max-width: 650px;
        margin: auto;
        font-weight: 300;
    }

    &__fab {
        position: fixed;
        right: 1.5rem;
        bottom: 1rem;
        font-size: 1rem;
    }

    &__text {
        padding-bottom: 3rem;
        @media (min-width: 768px) {
            padding: 0;
        }
    }
}

.explain-me-how {
    margin: auto;
    height: auto;
    width: 200px;
    .track {
        position: relative;
        height: auto;
        width: 100%;
    }
    .hand {;
        z-index: auto;
        left: 0;
        top: 0;
        width: 52px;
        position: relative;
        padding: 10px;
        > img {
            display: block;
            position: relative;
            z-index: 2;
            width: 52px;
            height: 60px;
        }
    }
    .hand__finger-touch {
        position: absolute;
        z-index: 1;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--mdc-chip-outline-color);
        left: 22px;
        top: 2px;
        opacity: 0;
    }
    .animated {
        animation-duration: 3s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }
    @keyframes move-the-hand {
        0% {
            left: 0;
            margin-left: 0;
            transform: rotate(0deg);
        }
        10% {
            left: 0;
            margin-left: 0;
            transform: rotate(0deg);
        }
        50% {
            left: 100%;
            margin-left: -72px;
            transform: rotate(20deg);
        }
        100% {
            left: 0;
            margin-left: 0;
        }
    }
    .move-the-hand {
        animation-name: move-the-hand;
    }
    @keyframes show-the-touch {
        0% {
            opacity: 0
        }
        10% {
            opacity: 1
        }
        50% {
            opacity: 1
        }
        90% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
    .show-the-touch {
        animation-name: show-the-touch;
    }
}
