.story {
    /** Main Story Area **/
    &__title-area {
        max-width: 650px;
        margin: auto;

        p {
            font-size: 1.2rem;
            font-weight: 300;
        }
    }

    &__content-area {
        font-size: 1.4rem;
        max-width: 650px;
        margin: auto;
        font-weight: 300;
    }

    &__fab {
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;
        font-size: 1rem;
    }

    &__text {
        padding-bottom: 3rem;
        @media (min-width: 768px) {
            padding: 0;
        }
    }
}
