@use 'styles/utility/display';
@use 'styles/utility/gap';
@use 'styles/utility/margins';
@use 'sass:map';
@use 'styles/utility/padding';
@use 'styles/utility/overflow';
@use 'styles/utility/text';
@use 'styles/utility/flex';
@use 'styles/variables';
@use 'styles/utility/width';
@use '@angular/material' as mat;
@use 'styles/theming/material-overrides';
@use 'styles/theming/theme-colors' as app-theme;

// Light theme
$light-theme: app-theme.create-theme(
    $type: light,
);

// Dark theme
$dark-theme: app-theme.create-theme(
    $type: dark,
);

* {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;

    &:not(.material-icons) {
        font-family: 'Zilla Slab', serif !important;
    }
}

html {
    height: 100%;
    color-scheme: light dark;
    -webkit-text-size-adjust: 100%;
    @include mat.all-component-themes($light-theme);
}

body {
    height: 100%;
    margin: 0;
}

.system-theme {
    // Media query to change theme type based on system preference
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors($dark-theme);
    }
}

.title {
    font-family: 'Cal Sans', sans-serif !important;
    font-size: 55px;
    font-weight: bolder;
    line-height: 1.1;
    margin: 0;
    letter-spacing: 0;
    @media (min-width: 992px) {
        font-size: 3.5rem;
    }

    &--restrict-width {
        max-width: 480px;
    }
}

.sheet {
    .mat-bottom-sheet-container-animations-enabled.mat-bottom-sheet-container-enter {
        animation: slideUpSmooth 180ms ease-out forwards;
    }

    .mat-bottom-sheet-container {
        max-height: 85vh;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        @media (min-width: 768px) {
            max-width: 600px;
        }
    }
}

@keyframes slideUpSmooth {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
