@use 'styles/utility/display';
@use 'styles/utility/gap';
@use 'styles/utility/margins';
@use 'sass:map';
@use 'styles/utility/padding';
@use 'styles/utility/overflow';
@use 'styles/utility/text';
@use 'styles/utility/flex';
@use 'styles/variables';
@use 'styles/utility/width';
@use '@angular/material' as mat;
@use 'styles/theming/material-overrides';
@use 'styles/theming/theme-colors' as app-theme;

// Light theme
$light-theme: app-theme.create-theme(
    $type: light,
);

// Dark theme
$dark-theme: app-theme.create-theme(
    $type: dark,
);

* {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;

    &:not(.material-icons) {
        font-family: 'Playfair Display', serif !important;
    }
}

html {
    height: 100%;
    color-scheme: light dark;
    @include mat.all-component-themes($light-theme);
}

body {
    height: 100%;
    margin: 0;
}

.title {
    font-family: 'Special Gothic Expanded One', sans-serif !important;
    font-size: 3rem;
    line-height: 1.3;
    margin: 0;
}

.system-theme {
    // Media query to change theme type based on system preference
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors($dark-theme);
    }
}
