@use 'styles/utility/display';
@use 'styles/utility/gap';
@use 'styles/utility/margins';
@use 'sass:map';
@use 'styles/utility/padding';
@use 'styles/utility/overflow';
@use 'styles/utility/text';
@use 'styles/utility/flex';
@use 'styles/variables';
@use 'styles/utility/width';
@use '@angular/material' as mat;
@use 'styles/theming/material-overrides';
@use 'styles/theming/theme-colors' as app-theme;

// Light theme
$light-theme: app-theme.create-theme(
    $type: light,
);

// Dark theme
$dark-theme: app-theme.create-theme(
    $type: dark,
);

* {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;

    &:not(.material-icons) {
        font-family: 'Roboto Slab', serif !important;
    }
}

html {
    height: 100%;
    color-scheme: light dark;
    @include mat.all-component-themes($light-theme);
}

body {
    height: 100%;
    margin: 0;
}

.title {
    font-family: 'Special Gothic Expanded One', sans-serif !important;
    font-size: 3rem;
    line-height: 1.1;
    margin: 0;
    letter-spacing: 0.2rem;
}

.system-theme {
    // Media query to change theme type based on system preference
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors($dark-theme);
    }
}

.clover {
    height: 250px;
    width: 250px;
    filter: contrast(1);
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        position: relative;
        width: 250px;
        margin: -1.5rem auto -0.85rem;
        flex-direction: column;
    }

    &__img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 100%;
        position: absolute;
        z-index: 1;
        left: 3.1rem;
        bottom: 3.1rem;
    }

    &__box {
        height: 60%;
        width: 60%;
        background-color: var(--mdc-outlined-card-outline-color);
        position: absolute;
        border-radius: 20px;
        filter: brightness(115%);
    }

    @media (prefers-color-scheme: dark) {
        &__box {
            filter: brightness(150%);
        }
    }

    &__box-one {
        transform: rotate(45deg);
    }

    &__box-two {
        transform: rotate(75deg);
    }

    &__box-three {
        transform: rotate(105deg);
    }
}
